server:
  port: 1986
  tomcat:
    uri-encoding: utf-8
devtools:
  restart:
    #热部署生效
    enabled: true
    #设置重启的目录
    additional-paths: resources/**,static/**,templates/**
    #该目录下的内容修改不重启
    exclude: data/**
spring:
  application:
    name: spring-demo-examples
  thymeleaf:
    cache: false
    mode: HTML5
    encoding: UTF-8
    prefix: classpath:/templates/
    suffix: .html
    servlet:
      content-type: text/html

  elasticsearch:
    rest:
      username: elastic #elastic
      password: elastic #elastic
      uris: http://172.16.20.20:9200  #es

knife4j:
  markdowns: classpath:markdown/*
  basic:
    enable: false
    username: root
    password: admin

sensitive:
  filter:
    fast:
      enable: true
    jack:
      enable: true
    undo:
      enable: true
    encryption:
      enable: true
      encryption-key:
        aes: "5fdb2b224cea49398509a639" # 24位编码
        des: "5fdb2b224cea49398509a639" # 24位编码
        sm4: "5fdb2b224cea4939" # 16为编码

socket:
  mina:
    port: 19861

koTime:
  log:
    enable: false
    anguage: chinese
  time:
    threshold: 800.0
  ui:
    template: thymeleaf
  pointcut: execution(* com.zzb..*.*(..))


